{% extends 'base.html' %}
{% block title %}
    Edit Character
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <div>
            <a href="{% url 'home' %}">View Roster</a>
            </div>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you wish to remove {{character.name}}?</p>
            {{ form.as_p }}
            <button>Delete</button>
          </form>
    </main>
{% endblock content %}
